/* /!\ attention les commentaires en cas ne se font pas de la meme maniere qu'en html */
/* les développeur ont l'habitude d'utiliser un reset qui va uniformiser la mise en page, on en trouve quelques exemples sur internet*/
/* prendre l'habitude de testée notre fichier styleen mettant un background-color sur notre balise body */
selecteur{
    propriété: valeur;/* le point virgule est indispensable pour ne pas avoir d'erreurs, prenez l'habitude de le mettre tout le temp */
}

.class{/*on peut mettre plusieurs class pour une balise dans le HTML et on peut utiliser une meme class pour plusieurs balises */
    propriété: valeur;
    propriété: valeur;
    propriété: valeur;
}

#id{ /*on n'utilise les id de maniére unique, on ne donne pas le meme nom d'id à plusieurs balises, les id sont utilisés aussi pour faire des ancres*/
    propriété: valeur;
}

.class1 , .class2, .class3{/* on sépare les selecteurs par des virgules pour en appliquer le mmeme style*/
    propriété: valeur;
}

.class1 , .class2, .class3{ /* ici on parle de la class3 qui est dans la class2 qui est dans la class1*/
    propriété: valeur;
}

