table{
    margin: 25%;
    margin-block: 0%;
   
    
}

.texte{
    text-align: center ;
}

.fin{
    text-align: center;
}
.lien{
    text-align: center;
}
    


.debut{
    text-align: center;
}

   
